a {
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
body, html, ul {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
}

.header-logo {
    display: flex;
    max-width: 300px;
    height: 70px;
}

.header-logo img {
    width: auto;
    height: 100%;
}

.header-nav {
    position: relative;
}

.sub-menu > li {
    list-style: none;
}

.header-nav > ul {
    display: flex;
}

.header-nav > ul > li {
    padding: 0 20px;
}

.header-nav > ul > li > a {
    color: #071c4d;
    position: relative;
}

.header-nav > ul > li > a::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -7px;
    display: block;
    height: 2px;
    background: #7ec810;
    width: 0;
    transition: 0.3s;
    transform: translateX(-50%);
}

.header-nav > ul > li > a:hover:after {
    width: 100%;
}

.sub-menu {
    font-size: 18px;
}

.sub-menu__item {
    position: relative;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > li {
    padding: 10px 5px 5px 5px;
    cursor: pointer;
}

.sub-menu__item:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
}

.dropdown-content > li:hover {
    background-color: #ddd;
}

.sub-menu__item::before{
    content: url(icons/down-arrow.svg);
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.header-contact {
    display: flex;
    flex-direction: column;
}

.header-contact a {
    color: #071c4d;
}

.header-contact a:hover {
    color: #7ec810;
    transition: all 0.3s;
}

.contact-phones {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
}

.contact-phones > a {
    padding: 0 5px 5px 0;
}

.contact-apps {
    padding-right: 0px;
}

.icon-header {
    float: left;
    width: 30px;
    height: 30px;
    background-size: contain;
}

.icon-viber {
    background-image: url(icons/viber.png);
}

.icon-whatsapp {
    background-image: url(icons/whatsapp.png);
}

.contact-mail {
    font-size: 18px;
}
