a {
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body, html, ul, p, h3 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#app {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1170px;
    background-color: #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
}

.header-logo {
    display: flex;
    max-width: 300px;
    height: 70px;
}

.header-logo img {
    width: auto;
    height: 100%;
}

.header-nav {
    position: relative;
}

.header-nav > ul {
    display: flex;
}

.header-nav > ul > li {
    padding: 0 20px;
}

.header-nav > ul > li > a {
    color: #363636;
    position: relative;
}

.header-nav > ul > li > a::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -7px;
    display: block;
    height: 2px;
    background: #7ec810;
    width: 0;
    transition: 0.3s;
    transform: translateX(-50%);
}

.header-nav > ul > li > a:hover:after {
    width: 100%;
}

.sub-menu {
    font-size: 18px;
}

.sub-menu__item {
    position: relative;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > li {
    padding: 10px 5px 5px 5px;
    cursor: pointer;
}

.sub-menu__item:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
}

.dropdown-content > li:hover {
    background-color: #ddd;
}

.sub-menu__item::before{
    content: url(icons/down-arrow.svg);
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.header-contact {
    display: flex;
    flex-direction: column;
}

.header-contact a {
    color: #363636;
    transition: all 0.3s;
}

.header-contact a:hover {
    color: #7ec810;
}

.contact-phones {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
}

.contact-phones > a {
    padding: 0 5px 5px 0;
}

.icon-header {
    float: left;
    width: 30px;
    height: 30px;
    background-size: contain;
}

.icon-viber {
    background-image: url(icons/viber.png);
}

.icon-whatsapp {
    background-image: url(icons/whatsapp.png);
}

.contact-mail {
    font-size: 18px;
}

.main-banner {
    min-width: 1170px;
}

.main-banner p {
    color: #505050;
}

.itc-slider-wrapper {
    min-height: 600px;
    background-color: #f5f5dc!important;
}

.itc-slider-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 75px 150px;
}

.slide-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-span-cost {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    color: #505050;
}

.slide-content-left {
    display: flex;
    flex-direction: column;
}

.slide-content-left > p {
    margin: 20px 100px 50px 0;
    font-size: 17px;
}

.slide-image {
    max-width: 500px;
    max-height: 400px;
    filter: drop-shadow(-3px -3px 40px #3a3636);
}

.slide-span {
    font-size: 40px;
    text-transform: uppercase;
    color: #505050;
    margin-right: 100px;
}

.eco-container > img {
    margin: 0 20px 10px 0;
    transition: .5s;
}

.eco-container > img:hover {
    scale: 1.5;
}

.eco-container > p {
    margin-bottom: 50px;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container > p {
    margin: 7px 20px 0 0;
}

.button {
    width: 200px;
    height: 40px;
    background-color: #7ec810;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .3s;
}

.button:hover {
    box-shadow: 0 0 5px 1px #7ec810;
}

.slide-button {
    margin: 10px 20px 0 0;
}

.button-origin {
    border: 0;
    cursor: pointer;
    padding: 0;
}

.form-button {
    border: none;
    transition: none;
}

.modal .button {
    margin: 0 auto;
}

.checkbox-confirm {
    display: flex;
}

.checkbox-confirm > input{
    width: 18px;
    height: 18px;
    margin: 0 10px 30px 0;
}

.footer {
    padding: 19px 20px 0 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(80, 80, 80, 0.5);
}

.contact-info {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.contact-info > div > p, a {
    margin-bottom: 3px;
    color: #3a3636;
    transition: all 0.3s;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts > a:hover {
    text-decoration: underline;
}

.credits {
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
}
